// color
$primary_color: #8e44ad;
$split_grey: #DDDDDD;
$accent_color: #af7ac5;
$background_grey: #EEEEEE;
$contrast_color: #f1c40f;
$table_grey: #f7f7f7;
$text_grey: #777777;

$body_bg: hsl(231, 6%, 22%);
$img_container_color:hsl(231, 6%, 36%);
$title_color:hsl(231, 6%, 80%);

// thumb-view
$thumb-view-size: 150px;
$indicator_color: white;
$thumb-width: 100px;
$thumb_scroll_view_bg: hsl(231, 6%, 27%);
$thumb-view-margin: 4px;
$header-bg: #2ecc71;
$header-height: 40px;

// popup view
$popup_primary_color: hsl(145, 63%, 49%);
$popup_alternate_text_color: white;
$popup_text_color: hsla(0, 0%, 0%,.67);
$popup_secondary_text_color: hsla(0 , 0%, 0%, .54);