// color
$primary_color: hsl(145, 63%, 49%);
$light_primary_color: hsl(145, 63%, 60%);
$split_grey: #DDDDDD;
$accent_color: hsl(145, 63%, 42%);
$background_grey: #EEEEEE;
$contrast_color: #f1c40f;
$table_grey: #f7f7f7;
$text_grey: #777777;

$slider_track_bg: #bdbdbd;
$slider_track_fill_color: hsl(145, 63%, 42%);
$slider_thumb_color: hsl(145, 63%, 49%);

$flat_button_positive_color: hsl(145, 63%, 49%);
$flat_button_positive_light_color: lighten($flat_button_positive_color, 10%);
$flat_button_positive_dark_color: darken($flat_button_positive_color, 10%);
$flat_button_negative_color: #AAAAAA;
$flat_button_negative_light_color: lighten($flat_button_negative_color, 10%);
$flat_button_negative_dark_color: darken($flat_button_negative_color, 10%);
$flat_button_plain_color: hsl(145, 63%, 42%);
$flat_button_plain_light_color: lighten($flat_button_plain_color, 10%);
$flat_button_plain_dark_color: darken($flat_button_plain_color, 10%);
$flat_button_warning_color: #e74c3c;
$flat_button_warning_light_color: lighten($flat_button_warning_color, 10%);
$flat_button_warning_dark_color: darken($flat_button_warning_color, 10%);

$switch_track_disabled_color: #bdbdbd;
$switch_track_enabled_color: #71ca96;
$switch_thumb_disabled_color: #f5f5f5;
$switch_thumb_enabled_color: #006548;

$top_bar_float_btn_bg: rgba(0, 0, 0, 0.5);
$top_bar_float_btn_icon_color: rgba(255, 255, 255, 0.9);
$top_bar_float_btn_hover_bg: rgba(255, 255, 255, 0.9);
$top_bar_float_btn_hover_icon_color: rgba(0, 0, 0, 0.5);
$top_bar_float_btn_active_bg: rgba(255, 255, 255, 0.2);
$top_bar_float_btn_active_icon_color: rgba(0, 0, 0, 0.5);

$pagination_icon_active_color: #c9cacf;
$pagination_icon_disabled_color: rgba(#c9cacf, 0.6);
$pagination_icon_hovered_color: white;
$pagination_item_text_normal_color: #c9cacf;
$pagination_item_text_actived__color: white;
$pagination_item_text_hovered__color: white;
$pagination_item_background_actived__color: hsl(145, 63%, 49%);
$pagination_item_background_hovered__color: #777777;

$page_view_thumb_mask_color: rgba(0, 0, 0, 0.5);
$page_view_index_color: rgba(255, 255, 255, 0.5);
$page_view_border_color: hsl(231, 6%, 36%);
$page_view_info_color: white;
$page_view_loading_btn_color: rgba(255, 255, 255, 0.8);
$page_view_loading_btn_hovered_color: hsl(145, 63%, 60%);
$page_view_loading_btn_actived_color: hsl(145, 63%, 30%);

$reader_view_location_color: hsl(145, 63%, 42%);
$reader_view_full_screen_color: hsl(145, 63%, 42%);
$reader_view_full_screen_hovered_color: hsl(145, 63%, 60%);
$reader_view_loading_color: rgba(255,255,255,0.1);

$book_view_title_color: rgba(0, 0, 0, 0.8);
$book_view_ehunter_tag_bg_color: hsl(145, 63%, 42%);
$book_view_page_bg: white;
$book_view_ehunter_tag_bg: hsl(145, 63%, 42%);
$book_view_ehunter_tag_text_color: white;
$book_view_end_page_text_color: rgba(0, 0, 0, 0.7);
$book_view_pagination_bg: rgb(51, 51, 51);

$modal_view_bg: rgba(0, 0, 0, 0.6);




/* mussy */
$body_bg: #333333; // directly use in app.inject.js
$img_container_color:hsl(235, 16%, 13%);
$title_color:hsl(231, 6%, 80%);

// thumb-view
$thumb-view-width: 150px;
$thumb-view-height: 160px;
$indicator_color: white;
$thumb-width: 100px;
$thumb_scroll_view_bg: #444444;
$thumb-view-margin: 4px;
$header-bg: #2ecc71;
$header-height: 40px;

// popup view
$popup_primary_color: hsl(145, 63%, 49%);
$popup_alternate_text_color: white;
$popup_text_color: hsla(0, 0%, 0%, .67);
$popup_secondary_text_color: hsla(0, 0%, 0%, .54);
$popup_addition_bg: hsla(0, 0%, 97%, 1);
